<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>Reboot | Logic Made Beautiful</title>
    <!-- favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='favicons/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicons/favicon-32x32.png') }}" sizes="32x32">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicons/favicon-16x16.png') }}" sizes="16x16">
    <link rel="manifest" href="{{ url_for('static', filename='favicons/manifest.json') }}">
    <link rel="mask-icon" href="{{ url_for('static', filename='favicons/safari-pinned-tab.svg') }}" color="#5bbad5">
    <meta name="theme-color" content="#ffffff">

    <!-- css and other styling -->
    <link href="https://fonts.googleapis.com/css?family=Jura:400,600|Montserrat:400,700" rel="stylesheet">
    <link href="{{ url_for('static', filename='material_bootstrap/css/bootstrap.css') }}" type="text/css" rel="stylesheet">
    <link href="{{ url_for('static', filename='material_bootstrap/css/mdb.css') }}" type="text/css" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/styles.css') }}" type="text/css" rel="stylesheet">
    <!-- json objects -->
    <!--<script src="{{ url_for('static', filename='data/display_github.json') }}"></script>-->
    <!-- heap analytics script -->
    <script type="text/javascript">
        window.heap = window.heap || [], heap.load = function (e, t) {
            window.heap.appid = e, window.heap.config = t = t || {};
            var r = t.forceSSL || "https:" === document.location.protocol, a = document.createElement("script");
            a.type = "text/javascript", a.async = !0, a.src = (r ? "https:" : "http:") + "//cdn.heapanalytics.com/js/heap-" + e + ".js";
            var n = document.getElementsByTagName("script")[0];
            n.parentNode.insertBefore(a, n);
            for (var o = function (e) {
                return function () {
                    heap.push([e].concat(Array.prototype.slice.call(arguments, 0)))
                }
            }, p = ["addEventProperties", "addUserProperties", "clearEventProperties", "identify", "removeEventProperty", "setEventProperties", "track", "unsetEventProperty"], c = 0; c < p.length; c++)heap[p[c]] = o(p[c])
        };
        heap.load("1573873728");
    </script>
</head>
<body>
<!-- Polymorph Background -->
<div class="polymorph"></div>
<!-- Navbar -->
{% include 'nav.html' %}
<!-- page content -->
<div class="fullpage">
    <div class="container homeContainer">
        <div class="spacing-50"></div>
        <div class="row blogHead-desktop">
            <div class="col-md-8">
                <form action="" method="post" class="login">
                    <div class="col-sm-12 col-md-12 col-lg-12 spacing-5">
                        <div class="search-container">
                            <i class="fa fa-search" aria-hidden="true" style="transform: translateY(2px); color: #999;"></i>
                            <input class="post-input search-input" placeholder="search blog posts" type=text name="query" value="" autofocus required>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-4">
                <h1 class="homeHeading">
                    <span class="bold mont">[re:boot]</span> <span class="bold rebootB2">Blog</span>
                </h1>   
            </div>
        </div>
        <div class="row blogHead-mobile">
            <div class="col-md-4">
                <h1 class="homeHeading">
                    <span class="bold mont">[re:boot]</span> <span class="bold rebootB2">Blog</span>
                </h1>  
                <div class="spacing-5"></div> 
            </div>
            <div class="col-md-8">
                <form action="" method="post" class="login">
                    <div class="col-sm-12 col-md-12 col-lg-12 spacing-5">
                        <div class="search-container">
                            <i class="fa fa-search" aria-hidden="true" style="transform: translateY(2px); color: #999;"></i>
                            <input class="post-input search-input" placeholder="search blog posts" type=text name="query" value="" autofocus required>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 spacing-5">
                <div class="support">
                    <div class="support-wrapper">
                        {% for post in posts %}
                        <input id="{{ post.post.url }}" name="{{ post.post.url }}" type="checkbox">
                        <label for="{{ post.post.url }}">
                            <span>
                                <div class="bodyHeading mont">{{ post.post.title }}</div>
                                <div class="spacing-5"></div>
                                <p class="headingText mont authors">{{ post.post.publish_date.split(' ')[0] }} | {{ post.post.authors }}</p>
                            </span>
                            <div class="lil-arrow"></div>
                            <div class="bar"></div>
                            <div class="support-wrapper-content">
                                <ul>
                                    <li>
                                        <p class="headingText mont">
                                            {{ post.post.subtitle }}.
                                        </p>
                                    </li>
                                </ul>
                                <div class="btn rebootB blogB">
                                    <a href="blog/{{ post.post.url }}" target="" class="" style="color: #fff;">read post</a>
                                </div>
                            </div>
                        </label>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <div class="spacing-50"></div>
        <!-- footer -->
        {% include 'footer.html' %}
    </div>
</div>

</body>

<!-- javascript -->
<script src="{{ url_for('static', filename='material_bootstrap/js/jquery-3.1.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='material_bootstrap/js/tether.min.js') }}"></script>
<script src="{{ url_for('static', filename='material_bootstrap/js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='material_bootstrap/js/mdb.min.js') }}"></script>
<script src="https://use.fontawesome.com/65276217d5.js"></script>
<script src="{{ url_for('static', filename='js/polymorph.js') }}"></script>
<script src="{{ url_for('static', filename='js/nav_detect.js') }}"></script>
</html>