<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>Reboot | Logic Made Beautiful</title>
    <!-- favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='favicons/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicons/favicon-32x32.png') }}" sizes="32x32">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicons/favicon-16x16.png') }}" sizes="16x16">
    <link rel="manifest" href="{{ url_for('static', filename='favicons/manifest.json') }}">
    <link rel="mask-icon" href="{{ url_for('static', filename='favicons/safari-pinned-tab.svg') }}" color="#5bbad5">
    <meta name="theme-color" content="#ffffff">

    <!-- css and other styling -->
    <link href="https://fonts.googleapis.com/css?family=Jura:400,600|Montserrat:400,700" rel="stylesheet">
    <link href="{{ url_for('static', filename='material_bootstrap/css/bootstrap.css') }}" type="text/css" rel="stylesheet">
    <link href="{{ url_for('static', filename='material_bootstrap/css/mdb.css') }}" type="text/css" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/styles.css') }}" type="text/css" rel="stylesheet">
    <script src='https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.js'></script>
    <link href='https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.css' rel='stylesheet'/>
    <!-- json objects -->
    <!--<script src="{{ url_for('static', filename='data/display_github.json') }}"></script>-->
    <!-- map styling -->
    <style>
        .map { position: relative; height: 300px; width:100%; border-top: 3px solid #1AADC1; border-bottom: 3px solid #1AADC1; text-shadow: none;}
    </style>
    <!-- heap analytics script -->
    <script type="text/javascript">
        window.heap = window.heap || [], heap.load = function (e, t) {
            window.heap.appid = e, window.heap.config = t = t || {};
            var r = t.forceSSL || "https:" === document.location.protocol, a = document.createElement("script");
            a.type = "text/javascript", a.async = !0, a.src = (r ? "https:" : "http:") + "//cdn.heapanalytics.com/js/heap-" + e + ".js";
            var n = document.getElementsByTagName("script")[0];
            n.parentNode.insertBefore(a, n);
            for (var o = function (e) {
                return function () {
                    heap.push([e].concat(Array.prototype.slice.call(arguments, 0)))
                }
            }, p = ["addEventProperties", "addUserProperties", "clearEventProperties", "identify", "removeEventProperty", "setEventProperties", "track", "unsetEventProperty"], c = 0; c < p.length; c++)heap[p[c]] = o(p[c])
        };
        heap.load("1573873728");
    </script>

</head>

<body>
<!-- Polymorph Background -->
<div class="polymorph"></div>
<!--end poly-->
<nav class="navbar navbar-dark scooter" style="position:fixed;width:100%;z-index:500;background:#040707;">
    <!-- Collapse button-->
    <button class="navbar-toggler hidden-lg-up" type="button" data-toggle="collapse" data-target="#collapseEx2">
        <i class="fa fa-bars"></i>
    </button>
    <div class="container">
        <!--Collapse content-->
        <div class="collapse navbar-toggleable-md" id="collapseEx2">
            <a class="navbar-brand mont" href="/" style="color:#1AADC1"><img src="../static/images/kube.png"> [re:boot]</a>
            <!--Links-->
            <ul class="nav navbar-nav mont" style="margin-left:-5px;">
                <li class="nav-item ">
                    <a class="nav-link" href="/">Home/ <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/team">Team/</a>
                </li>
                <!-- uncomment once we complete blog and populate with content -->
                <!--<li class="nav-item">-->
                <!--<a class="nav-link">Blog</a>-->
                <!--</li>-->
                <li class="nav-item active">
                    <a class="nav-link" href="/contact">Contact/</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/support">Support/</a>
                </li>
                <!--<li class="nav-item btn-group">-->
                <!--<a class="nav-link dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>-->
                <!--<div class="dropdown-menu" aria-labelledby="dropdownMenu1">-->
                <!--<a class="dropdown-item">Action</a>-->
                <!--<a class="dropdown-item">Another action</a>-->
                <!--<a class="dropdown-item">Something else here</a>-->
                <!--</div>-->
                <!--</li>-->
            </ul>
            <ul class="nav navbar-nav nav-flex-icons mont">
                <li class="nav-item">
                    <a class="nav-link" href="/profile">
                        {% if current_user.is_authenticated %}
                        Hi {{ current_user.first_name }}!
                        {% endif %}
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <!-- Eventually we can replace the user icon with a particular user's photo -->
                    <a class="nav-link dropdown-toggle waves-effect waves-light" id="dropdownMenu1"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><i
                            class="fa fa-user-circle"></i></a>
                    <div class="dropdown-menu dropdown-secondary" aria-labelledby="dropdownMenu1"
                         data-dropdown-in="fadeIn" data-dropdown-out="fadeOut">
                        {% if not current_user.is_authenticated %}
                        <a class="dropdown-item waves-effect waves-light" href="/login">Login</a>
                        {% endif %}
                        {% if current_user.is_authenticated %}
                        <a class="dropdown-item waves-effect waves-light" href="/profile">My Profile</a>
                        <a class="dropdown-item waves-effect waves-light" href="/create_post">New Blog Post</a>
                        <a class="dropdown-item waves-effect waves-light" href="/logout">Logout</a>
                        {% endif %}
                    </div>
                </li>
            </ul>
            <!--Search form-->
            <!-- uncomment and connect once blog is live -->
            <!--<form class="form-inline">-->
            <!--<input class="form-control" type="text" placeholder="Search">-->
            <!--</form>-->
        </div>
        <!--/.Collapse content-->
    </div>
</nav>
<div class="custom-spacing"></div>
<div class="spacing-5"></div>
<div class="spacing-5"></div>
<div class="spacing-5"></div>
<div id='map' class='map'> </div>
<div class="spacing-50"></div>
<div class="fullpage">
    <div class="container homeContainer">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-3 spacing-5">
                <h4 class="bodyHeading mont">East & West Coast</h4>
                <div class="spacing-5"></div>
                <h5 class="bold headingText">Our team spans three American cities and multiple fields of focus.</h5>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-3 spacing-5">
                <div class="card">
                    <div class="card-block">
                        <h4 class="card-title">Los Angeles, CA</h4>
                        <h5 class="card-title subTitle">
                            <a href="tel:123-456-7890"><i class="fa fa-phone"></i> (123) 456-7890</a>
                        </h5>
                        <p class="card-text bold">Web Apps, Data Science</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-3 spacing-5">
                <div class="card">
                    <div class="card-block">
                        <h4 class="card-title">Philadelphia, PA</h4>
                        <h5 class="card-title subTitle">
                            <a href="tel:123-456-7890"><i class="fa fa-phone"></i> (123) 456-7890</a>
                        </h5>
                        <p class="card-text bold">Web Apps, UI/UX</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-3 spacing-5">
                <div class="card">
                    <div class="card-block">
                        <h4 class="card-title">Knoxville, TN</h4>
                        <h5 class="card-title subTitle">
                            <a href="tel:123-456-7890"><i class="fa fa-phone"></i> (123) 456-7890</a>
                        </h5>
                        <p class="card-text bold">Small Business Consulting</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="spacing-25"></div>
        <div class="spacing-5"></div>
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-3 spacing-5">
                <h4 class="bodyHeading mont">Send a Message</h4>
                <div class="spacing-5"></div>
                <h5 class="bold headingText">Reach out for questions on availability, pricing, or our services.</h5>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-9 spacing-5">
                <div class="card">
                    <form action="" method="post">
                        <div class="card-block">
                            <div class="spacing-5"></div>
                            <h4 class="card-title">Let's Talk About:</h4>

                            <label class="chkLabel noselect spacing-10" for="apps">
                            <input type="checkbox" id="apps" name="category" value="Web Applications" class="materialChk">Web Apps & Software</label>

                            <label class="chkLabel noselect spacing-10" for="data">
                            <input type="checkbox" id="data" name="category" value="Data Science" class="materialChk">Data Science & Analytics</label>

                            <label class="chkLabel noselect spacing-10" for="consulting">
                            <input type="checkbox" id="consulting" name="category" value="Consulting" class="materialChk">Small Business Consulting</label>

                            <div class="spacing-25"></div>
                            <h4 class="card-title">Your Details:</h4>
                            <input class="form" id="name" name="name" placeholder="Name" required="required" type="text">
                            <input class="form" id="email" name="email" placeholder="Email" required="required" type="email">
                            <textarea class="form textarea" id="message" name="message" placeholder="Message"></textarea>
                            <input class="btn rebootB contactB" id="input-submit" type=submit value="Send Message">
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="spacing-50"></div>
        <!-- footer -->
        <div class="footer">
            © 2017 Reboot, LLC.
        </div>
    </div>
</div>
</body>

<!-- javascript -->
<script src="{{ url_for('static', filename='material_bootstrap/js/jquery-3.1.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='material_bootstrap/js/tether.min.js') }}"></script>
<script src="{{ url_for('static', filename='material_bootstrap/js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='material_bootstrap/js/mdb.min.js') }}"></script>
<script src="https://use.fontawesome.com/65276217d5.js"></script>
<script src="{{ url_for('static', filename='js/polymorph.js') }}"></script>
<script src="{{ url_for('static', filename='js/map.js') }}"></script>

</html>