<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Post</title>

    <!-- css and other styling -->
    <link href="{{ url_for('static', filename='css/styles.css') }}" type="text/css" rel="stylesheet">

    <!-- google analytics script -->

</head>
<body>
<div class="admin-container">
    <div class="title">Edit Post</div>
        <div class="subtitle" style="margin-left: 3px;">
            {% if current_user.is_authenticated %}
                Hi {{ current_user.first_name }}! Edit the blog post below.
            {% endif %}
            <br>
            <a class="subtitle" href="/profile">back to profile</a>
    </div>
    <br>
    <form action="" method="post" class="login">
        <p><input class="post-input" placeholder="title" type=text name="title" value="{{ post.post.title }}" required></p>
        <p><input class="post-input" placeholder="subtitle" type=text name="subtitle" value="{{ post.post.subtitle }}" required></p>
        <p><input class="post-input" placeholder="authors (e.g. John Doe, Jane Doe)" type=text name="authors" value="{{ post.post.authors }}" required></p>
        <p><textarea class="post-input-large" placeholder="let your creative juices flow..." name="body" required>{{ post.post.body }}</textarea></p>
        <p><input class="post-input" placeholder="desired url (e.g. whyimawesome, trumpsucks)" type=text name="url" value="{{ post.post.url }}" required></p>
        <p><input id="input-submit" type=submit value="Edit Post"></p>
    </form>
</div>
</body>
</html>