<nav class="navbar navbar-dark scooter" style="position:fixed;width:100%;z-index:500;background:#040707;">
    <div class="container">
        <!-- Collapse button-->
        <button class="navbar-toggler hidden-lg-up" type="button" data-toggle="collapse" data-target="#collapseEx2">
            <i class="fa fa-bars"></i>
        </button>
        <a class="navbar-brand mont" href="/" style="color:#1AADC1"><img src="../static/images/kube.png"> [re:boot]</a>

        <!--Collapse content-->
        <div class="collapse navbar-collapse navbar-toggleable-md" id="collapseEx2">
            <!--Links-->
            <ul class="nav navbar-nav mont" style="margin-left:-5px;">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home/</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/team">Team/</a>
                </li>
                <!-- uncomment once we complete blog and populate with content -->
                <!--<li class="nav-item">-->
                <!--<a class="nav-link">Blog</a>-->
                <!--</li>-->
                <li class="nav-item">
                    <a class="nav-link" href="/contact">Contact/</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/support">Support/</a>
                </li>
            </ul>
            <ul class="nav navbar-nav nav-flex-icons mont">
                <li class="nav-item">
                    <a class="nav-link" href="/profile">
                        {% if current_user.is_authenticated %}
                        Hi {{ current_user.first_name }}!
                        {% endif %}
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <!-- Eventually we can replace the user icon with a particular user's photo -->
                    <a class="nav-link dropdown-toggle waves-effect waves-light" id="dropdownMenu1"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><i
                            class="fa fa-user-circle"></i></a>
                    <div class="dropdown-menu dropdown-secondary" aria-labelledby="dropdownMenu1"
                         data-dropdown-in="fadeIn" data-dropdown-out="fadeOut">
                        {% if not current_user.is_authenticated %}
                        <a class="dropdown-item waves-effect waves-light" href="/login">Login</a>
                        {% endif %}
                        {% if current_user.is_authenticated %}
                        <a class="dropdown-item waves-effect waves-light" href="/profile">My Profile</a>
                        <a class="dropdown-item waves-effect waves-light" href="/create_post">New Blog Post</a>
                        <a class="dropdown-item waves-effect waves-light" href="/logout">Logout</a>
                        {% endif %}
                    </div>
                </li>
            </ul>
            <!--Search form-->
            <!-- uncomment and connect once blog is live -->
            <!--<form class="form-inline">-->
            <!--<input class="form-control" type="text" placeholder="Search">-->
            <!--</form>-->
        </div>
        <!--/.Collapse content-->
    </div>
</nav>