<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search</title>

    <!-- css and other styling -->
    <link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli:300,400" rel="stylesheet">
    <link href="{{ url_for('static', filename='font-awesome/css/font-awesome.min.css') }}" type="text/css" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/styles.css') }}" type="text/css" rel="stylesheet">
    <link href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" type="text/css" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/jquery.fancybox.css') }}" type="text/css" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/jquery.fancybox-thumbs.css') }}" type="text/css" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/jquery.fullPage.css') }}" type="text/css" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/animate.css') }}" type="text/css" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/lightbox.min.css') }}" type="text/css" rel="stylesheet">
    <!-- google analytics script -->
</head>
<body>
<div class="tertiary-page-container" style="overflow-y: scroll;">
    <div class="tertiary-title">search</div>
    <!--<div class="subtitle" style="margin-left: 3px;">-->
        <!--Try searching for a blog post!-->
    <!--</div>-->
    <br>
    <form action="" method="post" class="login">
        <p><input class="post-input search-input" placeholder="search here..." type=text name="query" value="" required></p>
        <br>
        <div class="menu-container-horizontal">
            <input id="input-submit" class="form-btn semibold" type=submit value="Go, Go, Go!">
        </div>
    </form>
    <div class="error"></div>
    <!-- Not sure if the search results should go here or not honestly -->
    {% for result in results %}
        <div class="subtitle" style="margin-left: 3px;"><a href="blog/{{ result.post.url }}">{{ result.post.title }}</a></div>
    {% endfor %}
    <br>
</div>
</body>
<!-- javascript -->
<script src="{{ url_for('static', filename='js/velocity.js') }}"></script>
<script src="{{ url_for('static', filename='js/styles.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery-3.1.0.min.js') }}"></script>
<script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/preload.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.slimscroll.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.fullPage.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/responsive-devices.js') }}"></script>
<script src="{{ url_for('static', filename='js/lightbox.min.js') }}"></script>
</html>