<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>Reboot | Logic Made Beautiful</title>
    <!-- favicons -->
    <link rel="apple-touch-icon" sizes="180x180"
          href="{{ url_for('static', filename='favicons/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicons/favicon-32x32.png') }}"
          sizes="32x32">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicons/favicon-16x16.png') }}"
          sizes="16x16">
    <link rel="manifest" href="{{ url_for('static', filename='favicons/manifest.json') }}">
    <link rel="mask-icon" href="{{ url_for('static', filename='favicons/safari-pinned-tab.svg') }}" color="#5bbad5">
    <meta name="theme-color" content="#ffffff">

    <!-- css and other styling -->
    <link href="https://fonts.googleapis.com/css?family=Jura:400,600|Montserrat:400,700" rel="stylesheet">
    <link href="{{ url_for('static', filename='material_bootstrap/css/bootstrap.css') }}" type="text/css"
          rel="stylesheet">
    <link href="{{ url_for('static', filename='material_bootstrap/css/mdb.css') }}" type="text/css" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/styles.css') }}" type="text/css" rel="stylesheet">
    <!-- json objects -->
    <!--<script src="{{ url_for('static', filename='data/display_github.json') }}"></script>-->
    <!-- heap analytics script -->
    <script type="text/javascript">
        window.heap = window.heap || [], heap.load = function (e, t) {
            window.heap.appid = e, window.heap.config = t = t || {};
            var r = t.forceSSL || "https:" === document.location.protocol, a = document.createElement("script");
            a.type = "text/javascript", a.async = !0, a.src = (r ? "https:" : "http:") + "//cdn.heapanalytics.com/js/heap-" + e + ".js";
            var n = document.getElementsByTagName("script")[0];
            n.parentNode.insertBefore(a, n);
            for (var o = function (e) {
                return function () {
                    heap.push([e].concat(Array.prototype.slice.call(arguments, 0)))
                }
            }, p = ["addEventProperties", "addUserProperties", "clearEventProperties", "identify", "removeEventProperty", "setEventProperties", "track", "unsetEventProperty"], c = 0; c < p.length; c++)heap[p[c]] = o(p[c])
        };
        heap.load("1573873728");
    </script>
</head>

<body>
<!-- Polymorph Background -->
<div class="polymorph"></div>
<!-- Navbar -->
{% include 'nav.html' %}
<!-- page content -->
<div class="fullpage">
    <div class="container homeContainer">
        <div class="spacing-50"></div>
        <div class="row">
            <h4 class="homeHeading weHelp bold spacing-10">
                Have an issue? <br class="mobile-show">We're here to help!
            </h4>
        </div>x
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 spacing-5">
                <div class="support">
                    <div class="support-wrapper">
                        <input id="updates" name="update" type="checkbox">
                        <label for="updates" class="supportOne">
                            <span><div class="bodyHeading mont">My web application was updated but I can't see the changes.</div></span>
                            <div class="lil-arrow"></div>
                            <div class="bar"></div>
                            <div class="support-wrapper-content">
                                <ul>
                                    <li>
                                        <p class="headingText mont">
                                            Browsers locally store frequently requested text, images, and other content
                                            as cache to ensure
                                            faster load times for commonly accessed web applications and sites. Try
                                            clearing your cache
                                            and seeing if the issue persists (instructions on how to clear your cache
                                            can be found
                                            <a href="http://www.refreshyourcache.com/en/home/">here</a>).
                                        </p>
                                    </li>
                                </ul>
                            </div>
                        </label>
                        <input id="loading" name="load" type="checkbox">
                        <label for="loading" class="supportTwo">
                            <span><div class="bodyHeading mont">My web application is loading slowly.</div></span>
                            <div class="lil-arrow"></div>
                            <div class="bar"></div>
                            <div class="support-wrapper-content">
                                <ul>
                                    <li>
                                        <p class="headingText mont">
                                            Internet speeds fluctuate based on the strength of your internet connection,
                                            available bandwidth, and the amount of internet traffic in your area and
                                            worldwide. This
                                            can affect your application's load time. If your download speed is less than
                                            3 mpbs,
                                            your internet connection could be affecting your load time (check your
                                            internet connection
                                            speed <a href="http://www.speedtest.net/">here</a>). Internet speed looking
                                            great? Contact
                                            us using the form below and we'll resolve the issue as soon as possible.
                                        </p>
                                    </li>
                                </ul>
                            </div>
                        </label>
                        <input id="logging" name="login" type="checkbox">
                        <label for="logging" class="supportThree">
                            <span><div class="bodyHeading mont">I can't login to my web application.</div></span>
                            <div class="lil-arrow"></div>
                            <div class="bar"></div>
                            <div class="support-wrapper-content">
                                <ul>
                                    <li>
                                        <p class="headingText mont">
                                            First check to make sure your username, email address, and password are
                                            correct. If you're still
                                            having problems logging in, try resetting your password. If the problem
                                            continues to persist,
                                            contact us using the form below.
                                        </p>
                                    </li>
                                </ul>
                            </div>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="spacing-25"></div>
        <div class="spacing-5"></div>
        <div class="spacing-5"></div>
        <div class="row">
            <h4 class="homeHeading weHelp bold spacing-10">
                Need one-on-one help?<br>Send us a message using the form below and we'll contact you as soon as
                possible.
            </h4>
        </div>
        <div class="spacing-25"></div>
        <div class="spacing-5"></div>
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-3 spacing-5">
                <div class="bodyHeadingCell">
                    <h4 class="bodyHeading mont">Contact Support</h4>
                    <div class="spacing-5"></div>
                    <h5 class="bold headingText">
                        Please describe your issue in detail. Tell us how the issue occurred, which buttons where
                        pressed,
                        the browser and device used, which page the issue occurred on, and any other relevant
                        information.
                    </h5>
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-9 spacing-5">
                <div class="card">
                    <form action="" method="post">
                        <div class="card-block">
                            <div class="spacing-5"></div>
                            <h4 class="card-title mont">Describe Your Issue:</h4>

                            <label class="chkLabel noselect spacing-10 h5" for="login">
                                <input type="checkbox" id="login" name="category" value="Login" class="materialChk">Login</label>

                            <label class="chkLabel noselect spacing-10 h5" for="loadtimes">
                                <input type="checkbox" id="loadtimes" name="category" value="Load Times"
                                       class="materialChk">Load Times</label>

                            <label class="chkLabel noselect spacing-10 h5" for="notloading">
                                <input type="checkbox" id="notloading" name="category" value="App Not Loading"
                                       class="materialChk">App Not Loading</label>

                            <label class="chkLabel noselect spacing-10 h5" for="mobile">
                                <input type="checkbox" id="mobile" name="category" value="Mobile" class="materialChk">Mobile</label>

                            <label class="chkLabel noselect spacing-10 h5" for="noupdates">
                                <input type="checkbox" id="noupdates" name="category" value="No Updates"
                                       class="materialChk">No Updates</label>

                            <div class="spacing-25"></div>
                            <h4 class="card-title mont">Your Details:</h4>
                            <input class="form" id="contact_name" name="contact_name" placeholder="Contact Name"
                                   required="required" type="text">
                            <input class="form" id="product_name" name="product_name" placeholder="Product Name"
                                   required="required" type="text">
                            <input class="form" id="email" name="email" placeholder="Email" required="required"
                                   type="email">
                            <input class="form" id="phone" name="phone" placeholder="Phone Number" type="tel">
                            <input class="form" id="subject" name="browser" placeholder="Browser Used" type="text">
                            <textarea class="form textarea" id="message" name="message"
                                      placeholder="Message"></textarea>
                            <input class="btn rebootB contactB" id="input-submit" type=submit value="Contact Support">
                        </div>
                    </form>
                </div>
            </div>
        </div>
        {% if success %}
        <div class="conf-modal center success" id="modal-success">
            <div class="title-icon">
                <i class="fa fa-check modal-icon" aria-hidden="true"></i>
            </div>
            <div class="title-text"><h1>Success!</h1></div>
            <p>{{ text }}</p>
            <div class="modal-footer">
                <div class="conf-but green" id="modal-close" onClick="modalClose()">close</div>
                <!--<div class="conf-but" onClick="">No</div>-->
            </div>
        </div>
        {% endif %}
        <div class="spacing-50"></div>
        <!-- footer -->
        {% include 'footer.html' %}
    </div>

</div>

</body>

<!-- javascript -->
<script src="{{ url_for('static', filename='material_bootstrap/js/jquery-3.1.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='material_bootstrap/js/tether.min.js') }}"></script>
<script src="{{ url_for('static', filename='material_bootstrap/js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='material_bootstrap/js/mdb.min.js') }}"></script>
<script src="https://use.fontawesome.com/65276217d5.js"></script>
<script src="{{ url_for('static', filename='js/polymorph.js') }}"></script>
<script src="{{ url_for('static', filename='js/velocity.js') }}"></script>
<script src="{{ url_for('static', filename='js/styles.js') }}"></script>
<script src="{{ url_for('static', filename='js/nav_detect.js') }}"></script>
</html>